html {
    font-size: 13.5px;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: dimgrey;
    padding-bottom: 100px;
    text-rendering: optimizeLegibility;
}
* {
    box-sizing: border-box;
}

section, article, aside, footer, header, nav {
    display: block;
}


.grid-1 {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
    .header {
        display: flex;
        height: 60px;
    }

        .header__l-link {
            flex-grow: 1;
            display: flex;
        }

            .header__l-link--home {
                flex-grow: 0;
            }

            .header__link {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: dimgrey;
                text-decoration: none;
            }

                .header__link--help {
                    width: 60px;
                    margin-right: auto;
                    border-right: 1px solid lightgray;
                }

                .header__link--home {
                    
                }

                .header__link--login {
                    width: 60px;
                    margin-left: auto;
                    border-left: 1px solid lightgray;
                }

                .header__help-img {
                    height: 25px;
                    width: 25px;
                    background-color: gray;
                }

                .header__home-img {
                    height: 40px;
                    width: 130px;
                    padding: 0 10px;
                    background-color: lawngreen;
                }
                
                .header__login-img {
                    height: 25px;
                    width: 25px;
                    background-color: gray;
                }

                .header__link-text {
                    padding: 3px;
                    font-size: 0.9rem;
                }

             
            /**/

        /**/
    
    /**/

/**/



.grid-2 {
    background: rgb(14,153,176);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.2);
}

    .topnav {
        height: 45px;
        display: flex;
    }
        .topnav__link {
            text-decoration: none;
            color: white;
            padding: 0 15px;
            display: flex;
            align-items: center;
        }

        .topnav__link--myacount {
            font-size: 0.9rem;
            font-weight: 700;
        }

        .topnav__button {
            font-family: 'Montserrat', sans-serif;
            margin-left: auto;
            background: none;
            border: none;
            outline: none;
        }

    /**/


/**/






.brief {
    padding: 30px 15px 0;
    overflow: hidden;/*fix margin collapse*/
}
    .brief__title {
        margin: 0 0 20px;
        font-size: 1.6em;
        font-weight: 800;
        color: rgb(49,49,49);
    }
    .brief__text {
        margin: 0 0 18px;
        line-height: 1.8rem;
    }
/**/


.grid-4 {
    background: rgb(250,250,250);
    border-bottom: 1px solid lightgrey;
    margin-bottom: 45px;
}

    .guide {
        padding: 15px;
    }
        
        .guide__title {
            margin: 0 0 15px; 
            font-size: 1.4rem;
            font-weight: 800;
            color: rgb(49,49,49);
        }

        .guide__subtitle {
            font-weight: 700;
            line-height: 1.45rem;
            font-size: 1.1rem;
        }

        .guide__text {
            line-height: 1.8rem;
        }

        .guide-list {
            list-style: none;
            padding: 8px 0px 0px 0px;
            margin: 0;
        }
            .guide-list__item {
                display: flex;
                align-items: flex-start;
            }
            
                .guide-list__l-id {
                    display: flex;
                    flex-direction: column;
                    align-self: stretch;
                }

                    .guide-list__number {
                        border: 2px solid dimgrey;
                        border-radius: 40px;
                        width: 50px;
                        height: 50px;
                        font-size: 1.22rem;
                        font-weight: 800;
                        line-height: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                
                    .guide-list__l-break {
                        flex-grow: 1;
                        min-height: 30px;
                        display: flex;
                        align-items: center;
                    }
                
                        .guide-list__break {
                            margin-left: 25px;
                            height: 19px;
                            border-left: 1px solid dimgray;
                        }

                    /**/

                /**/

                .guide-list__l-text {
                    min-height: 50px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }
                    .guide-list__text {
                        line-height: 1.4rem;
                        padding-left: 20px;
                        font-size: 0.9rem;
                    }

                    .guide-list__l-text--last {
                        margin-bottom: 0px;
                    }
                
                /**/
                
                .guide-list__strong {
                    font-weight: 700;
                }
            
            /**/
        
        /**/

    /**/

    .form {
        margin: 0px 15px;
        transform: translateY(30px);
        border: 1.1px solid lightgrey;
        border-radius: 5px;
        background: white;
        box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.05);
        padding: 15px 15px 0 15px;
    }

        .form__title{
            margin-top: 0;
            color: rgb(49,49,49);
            font-size: 1.4rem;
            font-weight: 800;
        }
        
        .form__brief{
            margin: 18px 0;
        }

        .form__l-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

            .form__label {
                margin: 3px 0 3px 1px;
                font-size: 0.75rem;
                font-weight: 600;
            }

            .form__input {
                font-family: 'Montserrat', sans-serif;
                padding-left: 13px;
                display: block;
                height: 40px;
                border: 1px solid lightgrey;
                border-radius: 5px;
            }
            
            .form__button {
                font-family: 'Montserrat', sans-serif;
                background-color:  rgb(16, 202, 121);
                display: block;
                height: 45px;
                border: 2px solid rgb(61, 177, 128);
                outline: none;
                border-radius: 5px;
                color: white;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-top: 5px;
            }
            
            .form__link {
                text-decoration: none;
                font-weight: 600;
                color: rgb(222, 158, 32);
                align-self: center;
                font-size: 0.9rem;
                margin: 3px;
            }
        
        /**/ 
        
        .form__l-row--double {
            flex-direction: row;
            
        }

            .form__l-curso {
                display: flex;
                flex-direction: column;
                width: 60%;
                padding-right: 10px;
            }

            .form__l-mensa {
                display: flex;
                flex-direction: column;
                width: 40%;
                padding-left: 10px;
            }

        /**/
    
    
    /**/    


/**/

/*share*/
    .share {
        padding: 15px;
    }
        .share__title {
            font-size: 1.4rem;
            font-weight: 800;
            color: rgb(49,49,49);
            margin: 0;
        }

        .share__l-row {
            overflow: hidden;/*fix margin collapse*/
            padding-top: 25px;
            padding-bottom: 20px;
        }

            .share__l-row--first {
                border-bottom: 1px solid lightgrey;
                padding-top: 17px;
            }

            .share__title2 {
                font-weight: 700;
                line-height: 1.5rem;
                font-size: 1.1rem;
                margin: 0;
            }

            .share__link-box {
                display: inline-flex;
                flex-direction: column;
                margin-right: 30px;
                margin-top: 20px;
            }

                .share__link-box--last{
                    margin-right: 0;
                }

                .share__title3 {
                    display: inline;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin: 0;
                }

                .share__l-link{
                    margin-top: 10px;
                }
                    .share__link {
                        display: inline-block;
                        border: 1px solid lightgrey;
                        border-radius: 35px;
                        height: 45px;
                        width: 45px;
                        margin-right: 10px;
                    }

                    .share__link--last {
                        margin-right: 0;
                    }
                
                /**/

            /**/

            .share__form {
                padding-top: 20px;
                margin-bottom: 10px;
            }

                .share__label {
                    margin: 0;
                    line-height: 1.6rem; 
                }

                .share__l-field {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    padding-left: 13px;
                    height: 40px;
                    border: 1px solid lightgrey;
                    border-radius: 5px;
                    overflow: hidden;
                }
                
                    .share__field {
                        font-family: 'Montserrat', sans-serif;
                        padding: 0;
                        flex-grow: 1;
                        border: none;
                        outline: none;
                    }

                        .share__field::placeholder {   
                            color: rgb(210, 210, 210);
                        }
                        
                        .share__field:-ms-input-placeholder{
                            color: rgb(210, 210, 210);
                        }
                    
                    /**/

                    .share__button {
                        font-family: 'Montserrat', sans-serif;
                        height: 100%;
                        width: 72px;
                        background: rgb(250, 250, 250);
                        border: none;
                        border-left: 1px solid lightgrey;
                        outline: none;
                        color: rgb(222, 158, 32);
                        font-weight: 600;
                    }

                /**/

                .share__tip {
                    margin: 7px 0 0 0;
                    font-size: 0.75rem;
                    font-style: italic;
                }

            /**/

        /**/
    
    /**/

/**/
